
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      

      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="formEvent" (ngSubmit)="getDataForm()">
          <h2 style="text-align: center;">{{type}} event</h2>

          <div class="form-floating mb-3">
            <input type="text" formControlName="nameEvent" class="form-control" id="nameEvent" placeholder="nameEvent">
            <label for="name">Name Event</label>
            <p class="error" *ngIf="checkControl('nameEvent', 'required')">Required field</p>
          </div>

          

          <div class="form-floating mb-3">
            <input type="text" formControlName="dateEvent" class="form-control" id="dateEvent" placeholder="dateEvent">
            <label for="phoneNumber">date Event</label>
            <p class="error" *ngIf="checkControl('dateEvent', 'required')">Required field</p>
            
          </div>

          <div class="form-floating mb-3">
            <input type="text" formControlName="ticketNumber" class="form-control" id="ticketNumber" placeholder="ticketNumber">
            <label for="ticketNumber">Ticket Number</label>
            <p class="error" *ngIf="checkControl('ticketNumber', 'required')">Required field</p>
          </div>

          <div class="form-floating mb-3">
            <input type="text" formControlName="price" class="form-control" id="price" placeholder="price">
            <label for="price">Price</label>
            <p class="error" *ngIf="checkControl('address', 'required')">Required field</p>
          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
           

            <div class="row mb-3">
              <div class="col-sm-12">
                  <input  type="submit" [value]="type" class="btn btn-primary" [disabled]="!formEvent.valid">
                  <a [routerLink]="['/event']"></a>

                 

                  
              </div>
          </div>

          </div>

        </form>
      </div>
    </div>
  </div>
 
</section>
