
<div id="table-container" class="col-lg-12 mb-4">

  <div  class="content">
    
    <div class="table-container">
      <table class="table table-bordered border-primary" id="dataTable" width="100%" cellSpacing="0">
        <thead >
          <tr>
            <th scope="col">Name Event</th>
            <th scope="col">Date Event</th>
            <th scope="col">Ticket Number</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>

        <tbody>
          
          <tr *ngFor="let event of myEvent">
            <td>{{event?.nameEvent}}</td>
            <td>{{event?.dateEvent}}</td>
            <td>{{event?.ticketNumber}}</td>
            <td>{{event?.price}}</td>
            <td>
              <button class="btn btn-sm" [routerLink]="['/update-event', event?.eventId]">
                <i class="fas fa-sync-alt"></i><br>
              </button>
              <button class="btn btn-sm" (click)="deleteEvent(event.eventId)">
                <i class="fa-solid fa-trash"></i><br>
              </button>

            </td>
          </tr>
          
 
        </tbody>
      </table>


    </div>
  </div>
</div>

